# {{ ansible_managed }}

[Unit]
Description=Kubernetes API Server
Documentation=https://kubernetes.io/docs

[Service]
Type=notify
ExecStart=/usr/local/bin/kube-apiserver \
  --allow-privileged=true \
  --anonymous-auth=false \
  --endpoint-reconciler-type={{ k8s_apiserver_endpoint_reconciler_type }} \
  --apiserver-count={{ k8s_apiserver_count }} \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/log/audit.log \
  --authorization-mode=Node,RBAC \
  --requestheader-client-ca-file=/etc/kubernetes/k8s-ca.crt \
  --bind-address=0.0.0.0 \
  --client-ca-file=/etc/kubernetes/k8s-ca.crt \
  --enable-admission-plugins={{ k8s_apiserver_enable_admission_plugins | join(',') }} \
  --enable-aggregator-routing=true \
  --etcd-cafile=/etc/kubernetes/etcd-server-ca.crt \
  --etcd-certfile=/etc/kubernetes/kube-apiserver-etcd-client.crt \
  --etcd-keyfile=/etc/kubernetes/kube-apiserver-etcd-client.key \
  --etcd-servers={% for host in groups['etcd'] | sort() %}https://{{ host }}:{{ etcd_port | default('2379') }}{% if not loop.last %},{% endif %}{% endfor %} \
  --event-ttl=1h \
  --encryption-provider-config=/etc/kubernetes/encryption-config.yaml \
  --kubelet-certificate-authority=/etc/kubernetes/k8s-ca.crt \
  --kubelet-client-certificate=/etc/kubernetes/apiserver-kubelet-client.crt \
  --kubelet-client-key=/etc/kubernetes/apiserver-kubelet-client.key \
  --kubelet-https=true \
  --runtime-config={{ k8s_runtime_config }} \
  --service-account-key-file=/etc/kubernetes/service-account.crt \
  --service-cluster-ip-range={{ k8s_service_cluster_ip_range }} \
  --service-node-port-range={{ k8s_service_node_port_range }} \
  --tls-cert-file=/etc/kubernetes/{{ inventory_hostname }}-apiserver.crt \
  --tls-private-key-file=/etc/kubernetes/{{ inventory_hostname }}-apiserver.key \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
