# {{ ansible_managed }}

[Unit]
Description=Kubernetes Kubelet
Documentation=https://kubernetes.io/docs

[Service]
ExecStart=/usr/local/bin/kubelet \
  --container-runtime-endpoint=unix:///run/containerd/containerd.sock \
  --config=/etc/kubernetes/kubelet/config.yaml \
  --bootstrap-kubeconfig=/etc/kubernetes/kubelet/bootstrap.kubeconfig \
  --kubeconfig=/etc/kubernetes/kubelet/kubeconfig \
  --node-ip={{ ansible_default_ipv4.address }} \
  --register-node=true \
  --v={{ kubelet_log_verbosity_level | default('2') }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
