# {{ ansible_managed }}

[Unit]
Description=Kubernetes Kubelet
Documentation=https://kubernetes.io/docs

[Service]
ExecStart=/usr/local/bin/kubelet \
  --container-runtime-endpoint=unix:///run/containerd/containerd.sock \
  --config=/etc/kubernetes/kubelet/kubelet-config.yaml \
  --kubeconfig=/etc/kubernetes/kubelet/{{ inventory_hostname }}.kubeconfig \
  --node-ip={{ ansible_default_ipv4.address }} \
  --register-node=true \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
