# wrapper for etcdctl to make life easier :)
# some useful commands in case you forget...
# etcdctl.sh member list
# etcdctl.sh endpoint status
# etcdctl.sh endpoint health

DEFAULT_API_VERSION=3
ETCDCTL_API=${ETCDCTL_API:-$DEFAULT_API_VERSION}

if [[ "${ETCDCTL_API}" -eq 3 ]]; then
  ETCDCTL_API=$ETCDCTL_API {{ etcd_bin_directory }}/etcdctl \
    --cert {{ etcd_tls_directory }}/cert.pem \
    --key {{ etcd_tls_directory }}/key.pem \
    --cacert {{ etcd_tls_directory }}/client-ca.pem \
    --endpoints={% for host in groups['etcd'] | sort() %}{{ host }}:{{ etcd_client_port | default('2379') }}{% if not loop.last %},{% endif %}{% endfor %} \
    $@
elif [[ "${ETCDCTL_API}" -eq 2 ]]; then
  ETCDCTL_API=$ETCDCTL_API {{ etcd_bin_directory }}/etcdctl \
    --cert-file {{ etcd_tls_directory }}/cert.pem \
    --key-file {{ etcd_tls_directory }}/key.pem \
    --ca-file {{ etcd_tls_directory }}/client-ca.pem \
    --endpoints={% for host in groups['etcd'] | sort() %}{{ host }}:{{ etcd_client_port | default('2379') }}{% if not loop.last %},{% endif %}{% endfor %} \
    $@
else
  echo "ETCDCTL_API must be either 2 or 3"
  exit 1
fi
